{% extends 'reviews/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row text-center">
  <h2>Login</h2>
  <div class="col-12">
    <form action="/reviews/login/" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <br>
      <button type="submit" class="btn btn-primary">
        Login
      </button>
    </form>
    <br>
    <!-- <form action="" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="siteUsername" aria-describedby="usernameHelp" placeholder="Enter username">
          <small id="usernameHelp" class="form-text text-muted">Your user information is safe with us</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="sitePassword" placeholder="Enter password">
        </div>
        <div class="text-center">
          <div class="btn-group text-center">
            <button id="loginButton" type="submit" class="btn btn-primary">
              Login
            </button>
            <button id="registerButton" type="submit" class="btn btn-primary">
              Register
            </button>
          </div>
        </div>
      </form> -->
  </div>
</div>
{% endblock %}