{% extends 'reviews/base.html' %}
{% block content %}
  <div class="row text-center">
    <h2> Registration </h2>
    <div class="col-12">
      <form action="{% url 'reviews:register' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <br>
        <button  type="submit" class="btn btn-primary">
          Register
        </button>
      </form>
      <br>
      {% block javascript %}
      <script>
        $("#id_username").change(function () {
          const username = $(this).val();
          $.ajax({
            url: "{% url 'reviews:validate_username' %}",
            data: {
              'username': username
            },
            dataType: 'json',
            success: function (data) {
              if (data.is_taken) {
                alert("A user with this username already exists.");
              }
            }
          });
        });
      </script>
      {% endblock %}
      <!-- <form action="" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="siteUsername" aria-describedby="usernameHelp" placeholder="Enter username">
          <small id="usernameHelp" class="form-text text-muted">Your user information is safe with us</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="sitePassword" placeholder="Enter password">
        </div>
        <div class="text-center">
          <div class="btn-group text-center">
            <button id="loginButton" type="submit" class="btn btn-primary">
              Login
            </button>
            <button id="registerButton" type="submit" class="btn btn-primary">
              Register
            </button>
          </div>
        </div>
      </form> -->
    </div>
  </div>
{% endblock %}