{% extends 'reviews/base.html' %}
{% block content %}
<div class="row text-center">
  <h2>
    Search Results
  </h2>
  <hr>
<div class="col-12 text-center">
  {% if searched_games_list %}
  {% for game in searched_games_list %}
    <ul class="game-list">
      <li>
        <div class="card">
          <h5 class="card-header"> {{game.name}}</h5>
          <div class="card-body">
            <h5 class="card-title"> {{game.console}}</h5>
            <p class="card-text">
              {{game.description}}
            </p>
            <a href="{% url 'reviews:game' game.game_id %}" class="btn btn-primary">Game Page</a>
          </div>
        </div>
      </li>
    </ul>
  {% endfor %}
  {% else %}
  <p>
    No games found.
  </p>
  {% endif %}
</div>
</div>

{% endblock %}