.page-footer {
  color:white;
  background-color: black;
  font-size: 1.2em;
}

.game-list {
  list-style-type: none;
  list-style: none;
  padding-left: 0px;
}

.site-link {
  text-decoration: none;
  color:white;
}

a.site-reg-link {
  text-decoration: none;
  color: black;
}
a.site-reg-link:hover {
  text-decoration: underline;
  color:red;
}
a.site-link:hover {
  text-decoration: underline;
  color:gold !important;
}

a.nav-btn {
  padding-left: 5px!important;
}

a.test-btn {
  padding-left: 5px !important;
  margin-left: 30px;
}