.page-footer {
  color:white;
  background-color: black;
  font-size: 1.2em;
}

.game-list {
  list-style-type: none;
  list-style: none;
  padding-left: 0px;
}

.site-link {
  text-decoration: none;
  color:white;
}
a.site-link:hover {
  text-decoration: underline;
  color:gold !important;
}